.tabla1{
    table-layout: fixed;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 400px;
    height: 500px;
    font-size: 40px;
    border-style: none;

} 
.gris{
    background-color: gray;
    color: white;
}
.g{
    background-color: #c3c3c3;
    color: black;
    border-style: none;
   
}
.n{
    background-color: orange;
    color: white;
    border-style: none;
}
.b0{
    background-color: #c3c3c3;
    color: black;
    width: 190px;
    height: 80px;
    font-size: 40px;
    border-style: none;
}
.b1,.b2,.b3,.b4,.b5,.b6,.b7,.b8,.b9,.punto{
    background-color: #c3c3c3;
    color: black;
    width: 50px;
    height: 50px;
    font-size: 40px;
    border-style: none;
}
.res{
    background-color: gray;
    color: white;
    font-size: 40px;
    border-style: none;
}
.AC{
    background-color: #c3c3c3;
    color: black;
    width: 53px;
    height: 51px;
    font-size: 40px;
    border-style: none;
}
.bs,.igual,.por,.entre,.resta{
    background-color: orange;
    color: white;
    border-style: none;
    width: 50px;
    height: 50px;
    font-size: 40px;

}